@(title: String, message: String, itemType: models.items.types.ItemType, itemNameId: String, tagId: String)


@main(title) {

    <h1>@title <a href="/libraries/@itemType.getId">@itemType.getName</a></h1>

    @if(message != null) {
        <h2>@message</h2>
    }


    <br />
    <br />

    <form action="" method="POST">
        <label for="item_name"><b>@itemType.getName Name</b></label>
        <input id="item_name" name="@itemNameId" type="text"/>
        <br />
        @for(field <- itemType.getFields) {
            <br />
            <label for="@field.getName">@field.getName</label>
            <input id="@field.getName" name="field@field.getId" type="text"/>
        }
        <br />
        <br />
        @for(tag <- itemType.getTags) {
            <label for="@tag.getName">@tag.getName</label>
            <input id="@tag.getName" type="checkbox" name="tag@tag.getId" value="true">
        }
        <br />
        <br />
        <input type="submit" value="Add @itemType.getName"/>
    </form>

}
