@(title: String, message: String, itemType: models.items.types.ItemType, itemNameId: String, tagId: String)


@main(true, title) {

    <h1 class="page_title">@title <a href="/libraries/@itemType.getId">@itemType.getName</a></h1>

    @if(message != null) {
        <h2 class="alert_message">@message</h2>
    }

    <hr/>

    <div class="container">


        <form class="large" action="" method="POST">

            <div class="container">

                <div class="inline_block" style="text-align : left ; width : 175 px ;">
                    <label for="item_name"><b>@itemType.getName Name</b></label>
                </div>
                <div class="inline_block" style="text-align : right ;">
                    <input id="item_name" name="@itemNameId" type="text"/>
                </div>
                <br />

                @for(field <- itemType.getFields) {
                    <br />
                    <div class="inline_block" style="text-align : left ; width : 175 px ;">
                        <label for="@field.getName">@field.getName</label>
                    </div>
                    <div class="inline_block" style="text-align : right ;">
                        <input id="@field.getName" name="field@field.getId" type="text"/>
                    </div>
                }
                <br />
                <br />
                <h3 style="text-align : center">Tags</h3>

            </div>

            <div class="container">

            @for(tag <- itemType.getTags) {
                <div class="inline_block">
                    <label for="@tag.getName">@tag.getName</label>
                    <input id="@tag.getName" type="checkbox" name="tag@tag.getId" value="true">
                </div>
            }

            </div>

            <br/>
            <br/>

            <div class="container">
                <input type="submit" value="Add @itemType.getName"/>
            </div>

        </form>


    </div>

}
