@(title: String, detailsVal: Boolean, tagFilterVal: Integer, fieldSortVal: Integer, fieldSortAsc: Boolean, itemType: models.items.types.ItemType, items: java.util.List[models.items.Item], detailsKey: String, tagFilterKey: String, fieldSortKey: String, fieldSortDirKey: String, fieldNameKey: String)


@main(true, title) {

    <h1>@title</h1>

    <form class="button" action="/libraries/@itemType.getId/items/new" method="GET">
        <input type="submit" value="Add a @itemType.getName"/>
    </form>

    <form class="button" action="" method="GET">

        <input type="hidden" name="@fieldSortKey" value="@fieldSortVal"/>
        <input type="hidden" name="@fieldSortDirKey" value="@fieldSortAsc"/>

        @if(detailsVal) {
            <input type="hidden" name="@detailsKey" value="false"/>
            @if(tagFilterVal != null) {
                <input type="hidden" name="@tagFilterKey" value="@tagFilterVal"/>
            }
            <input type="submit" value="Hide Details">
        } else {

            <input type="hidden" name="@detailsKey" value="true"/>
            @if(tagFilterVal != null) {
                <input type="hidden" name="@tagFilterKey" value="@tagFilterVal"/>
            }
            <input type="submit" value="Show Details">
        }

    </form>

    <br />
    <br/>

    Tags:

    <form class="button" action="" method="GET">

        <input type="hidden" name="@fieldSortKey" value="@fieldSortVal"/>
        <input type="hidden" name="@fieldSortDirKey" value="@fieldSortAsc"/>

        @if(detailsVal) {
            <input type="hidden" name="@detailsKey" value="true"/>
        } else {
            <input type="hidden" name="@detailsKey" value="false"/>
        }

        <input type="submit" value="*Reset*"/>

    </form>

    @for(tag <- itemType.getTags) {

        <form class="button" action="" method="GET">

            <input type="hidden" name="@fieldSortKey" value="@fieldSortVal"/>
            <input type="hidden" name="@fieldSortDirKey" value="@fieldSortAsc"/>

            @if(detailsVal) {
                <input type="hidden" name="@detailsKey" value="true"/>
            } else {
                <input type="hidden" name="@detailsKey" value="false"/>
            }

            <input type="hidden" name="@tagFilterKey" value="@tag.getId"/>
            <input type="submit" value="@tag.getName"/>

        </form>

    }

    <hr />

    @if(detailsVal) {

        <table border="0">

            <tr id="table_header">
                <td>
                    <form class="button" action="" method="GET">
                        <input type="hidden" name="@fieldSortKey" value="-1"/>

                        @if(fieldSortVal == -1 && fieldSortAsc) {
                            <input type="hidden" name="@fieldSortDirKey" value="false"/>
                        } else {
                            <input type="hidden" name="@fieldSortDirKey" value="true"/>
                        }

                        @if(detailsVal) {
                            <input type="hidden" name="@detailsKey" value="@detailsVal"/>
                        }
                        @if(tagFilterVal != null) {
                            <input type="hidden" name="@tagFilterKey" value="@tagFilterVal"/>
                        }

                        @if(fieldSortVal == -1) {
                            <input type="submit" value="[Name]"/>
                        } else {
                            <input type="submit" value="Name"/>
                        }

                    </form>
                </td>

                @for(field <- itemType.getFields) {
                    <td>
                        <form class="button" action="" method="GET">
                            <input type="hidden" name="@fieldSortKey" value="@field.getId"/>

                            @if(fieldSortVal == field.getId && fieldSortAsc) {
                                <input type="hidden" name="@fieldSortDirKey" value="false"/>
                            } else {
                                <input type="hidden" name="@fieldSortDirKey" value="true"/>
                            }

                            @if(detailsVal != null) {
                                <input type="hidden" name="@detailsKey" value="@detailsVal"/>
                            }
                            @if(tagFilterVal != null) {
                                <input type="hidden" name="@tagFilterKey" value="@tagFilterVal"/>
                            }

                            @if(fieldSortVal == field.getId) {
                                <input type="submit" value="[@field.getName]"/>
                            } else {
                                <input type="submit" value="@field.getName"/>
                            }

                        </form>
                    </td>
                }
                <td><b>Tags</b></td>
            </tr>

            @for(item <- items) {

                <tr>

                    <td><a href="@itemType.getId/items/@item.getId">@item.getName</a></td>

                    @for(field <- itemType.getFields) {

                        <td>

                        @if(item.getItemField(field.getId) != null) {
                            @item.getItemField(field.getId).getValue
                        }

                        </td>

                    }

                    <td>
                    @for(tag <- item.getTags) {
                        {@tag.getName}
                    }
                    </td>

                </tr>

            }

        </table>

    } else {

        <ul>
        @for(item <- items) {
            <li><a href="@itemType.getId/items/@item.getId">@item.getName</a></li>
        }
        </ul>

    }


}
