@import models.items.Item
@import models.items.types.ItemType
@(title: String, item: Item, itemType: ItemType)


@main(true, title) {

    <h1>@item.getName (<a href="/libraries/@itemType.getId">@itemType.getName</a>)</h1>

    @for(field <- itemType.getFields) {

        @defining(item.getItemField(field.getId)) { itemField =>

            @if(itemField != null) {
                <div>@field.getName : @itemField.getValue</div>
            } else {
                <div>@field.getName : </div>
            }

        }
    }

    @if(item.hasTags) {

        <br/>

        @for(tag <- item.getTags) {
            [@tag.getName]
        }

    }

    <br />
    <br />
    <br />
    <form action="@item.getId/delete" method="POST">
        <input type="submit" value="Delete" />
    </form>

}
